
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;

}
body{ 
      background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
     }
     .main-container{
        width: 100%;
        max-width: 600px;
        
     }
     h2{
        padding: 20px;
        font-family: 'poppins' sans-serif;
        text-align: center;
        font-size: 30px;

     }
     .container{
        text-align: center;
        background:grey;
        border-radius: 10px;
        height: 400px;
           padding: 20px;
        
     }
     .display{
        background: #4d3838;
        padding-bottom: 20px;
        border-radius: 5px;
        padding: 15px;
     }
     .result{
        display: flex;
        justify-content: flex-end;
     }
     .inputs{
        display: flex;
        flex-direction: column;
        gap: 20px;
     }
     .number-inputs{
            display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;

     }
     label{
        color: #4d3838;
    font-size: 20px;
     padding: 10px;
     }
   

     input{
     font-size: 15px;
        padding: 10px;
        border-color: white;
        border-radius: 10px;
     }


     .number-inputs{
     gap: 40px;
     /* background: #a88b8b; */

     }
     .operations{
        background: blue;
    margin-bottom: 50px;
    height:40px;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
     }
     .operation-btn{
background: aqua;
padding: 5px;
border-radius: 5px;
width: 50px;
height: 15px;
margin: 10px;
align-items: center;
font-size: 20px;
     }

     .clear{
        background: red;
        padding: 10px;
        width: 100%;
     }
     .clear-btn{
        border: none;
        background: none;
        font-size: 20px;

     }